@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #2C3E50;
    display: flex;
    justify-content: space-around;
    color: white;
    height: 80px;
    font-family: 'Montserrat', sans-serif;
}
.left-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-nav {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 40%;
}
nav ul {
    display: flex;
    list-style-type: none;
}
nav ul li {
    padding-right: 10px;
    font-weight: 600;
}
.section1 {
    height: 700px;
    background-color: #1ABC9C;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1 .main {
    height: 600px;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.section1 .main img {
    width: 250px;
    height: 250px;
    margin: 0 auto;
}
.section1 .main h1 {
    font-size: 60px;
    color: white;
    font-weight:bold
}
.section1 .main .main-white {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 53%;
}
.section1 .main .main-white .fa-star {
    width: 40px;
    height: 40px;
    color: white;
}
.section1 .main .main-white .white-line  {
    width: 110px;
    height: 4px;
    background-color: white;
}
.section1 p {
    color: white;
    font-size: 23px;
}

.section2 {
    background-color: white;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.section2 .header {
    height: 130px;
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.section2 .header p {
    font-size: 30px;
    color: #2C3E50;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}
.section2 .header .main-white {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 53%;
}
.section2 .header .main-white .fa-star {
    width: 40px;
    height: 40px;
    color: #2C3E50;
}
.section2 .header .main-white .white-line  {
    width: 110px;
    height: 4px;
    background-color: #2C3E50;
}

.section2 .photos {
    display: flex;
    width: 93%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.section2 .photos .item {
    height: 250px;
    background-color: greenyellow;
    width: 26%;
    margin-bottom: 10px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2 .photos .item1 {
background-color: #BA4C63;
}
.section2 .photos .item2 {
  background-color: #1FA4B6;
    }
.section2 .photos .item3 {
  background-color: #130F0F;
  }
.section2 .photos .item4 {
  background-color: #1D83C1;
  }
.section2 .photos .item5 {
background-color: #1037B5;
  }
.section2 .photos .item6 {
 background-color: #CCB2A3;
       }

.section2 .photos .item img {
    width: 95%;
    height: 220px;
}
.section3 {
    width: 100%;
    height: 700px;
    background-color: #1ABC9C;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.section3 .main {
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.section3 .top {
    height: 130px;
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.section3 .top p {
    font-size: 40px;
    color: white;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}
.section3 .top .main-white {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.section3 .top .main-white .fa-star {
    width: 40px;
    height: 40px;
    color: white;
}
.section3 .top .main-white .white-line  {
    width: 110px;
    height: 4px;
    background-color: white;
}
.section3 .middle {
    height: 200px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.section3 .middle div {
    width: 45%;
    color: white;
}
.section3 .bottom {
    height: 100px;
    display: flex;
    justify-content: center;
}
.section3 .bottom .free-btn {
    width: 28%;
    height: 60px;
    background-color: #1ABC9C;
    border-radius: 8px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.section3 .bottom .free-btn .center {
    display: flex;
}
.section3 .bottom .free-btn .center svg {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}
.section4 {
    height: 750px;
}
.section4 .main {
    height: 700px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.section4 .top {
    height: 130px;
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.section4 .top p {
    font-size: 40px;
    color: #2C3E50;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}
.section4 .top .main-white {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.section4 .top .main-white .fa-star {
    width: 40px;
    height: 40px;
    color: #2C3E50;
}
.section4 .top .main-white .white-line  {
    width: 110px;
    height: 4px;
    background-color: #2C3E50;
}
.section4 .main .bottom{
    height: 350px;
}
.section4 .main .bottom input {
    border: none;
    width: 100%;
    height: 40px;
}
.section4 .main .bottom input::placeholder {
    font-size: 25px;
}
.section4 .main .bottom input:focus {
    outline: none;
    border: none;
}
.section4 .main .bottom textarea {
    border: none;
    width: 100%;
}
.section4 .main .bottom textarea::placeholder {
    font-size: 25px;
}
.section4 .main .bottom textarea:focus {
    outline: none;
    border: none;
}

.section4 .main .bottom hr {
    background-color: gray;
    margin-bottom: 10px;
}
.section4 .main .bottom button {
    width: 16%;
    height: 60px;
    background-color: #1ABC9C;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 17px;
}
.section5 {
    height: 300px;
    background-color: #BA4C63;
}
.section5 .main {
    margin: 0 auto;
    height: 300px;
    width: 80%;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
}
.section5 .main .left {
    width: 25%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 22px;
}
.section5 .main .left .center {
    height: 150px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: aqua;
    font-family: 'Montserrat', sans-serif;
}
.section5 .main .left .center p {
    font-size: 18px;
}

.section5 .main .middle {
    width: 25%;
    background-color: red;
}
.section5 .main .right {
    width: 25%;
    background-color: blue;
}
