@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #2C3E50;
    display: flex;
    justify-content: space-around;
    color: white;
    height: 80px;
    font-family: 'Montserrat', sans-serif;
}
.left-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-nav {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 40%;
}
nav ul {
    display: flex;
    list-style-type: none;
}
nav ul li {
    padding-right: 10px;
    font-weight: 600;
}
.section1 {
    height: 700px;
    background-color: #1ABC9C;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1 .main {
    height: 600px;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.section1 .main img {
    width: 250px;
    height: 250px;
    margin: 0 auto;
}
.section1 .main h1 {
    font-size: 60px;
    color: white;
    font-weight:bold
}
.section1 .main .main-white {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 53%;
}
.section1 .main .main-white .fa-star {
    width: 40px;
    height: 40px;
    color: white;
}
.section1 .main .main-white .white-line  {
    width: 110px;
    height: 4px;
    background-color: white;
}
.section1 p {
    color: white;
    font-size: 23px;
}

.section2 {
    background-color: white;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.section2 .header {
    height: 130px;
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.section2 .header p {
    font-size: 30px;
    color: #2C3E50;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}
.section2 .header .main-white {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 53%;
}
.section2 .header .main-white .fa-star {
    width: 40px;
    height: 40px;
    color: #2C3E50;
}
.section2 .header .main-white .white-line  {
    width: 110px;
    height: 4px;
    background-color: #2C3E50;
}

.section2 .photos {
    display: flex;
    width: 93%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.section2 .photos .item {
    height: 250px;
    background-color: greenyellow;
    width: 26%;
    margin-bottom: 10px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2 .photos .item1 {
background-color: #BA4C63;
}
.section2 .photos .item2 {
  background-color: #1FA4B6;
    }
.section2 .photos .item3 {
  background-color: #130F0F;
  }
.section2 .photos .item4 {
  background-color: #1D83C1;
  }
.section2 .photos .item5 {
background-color: #1037B5;
  }
.section2 .photos .item6 {
 background-color: #CCB2A3;
       }

.section2 .photos .item img {
    width: 95%;
    height: 220px;
}